body{
  width: 100%;
  background-color: #fff;
  margin:0;
  padding:0;
  -webkit-font-smoothing: antialiased;
}
html{
  width: 100%;
}
table{
  font-size: 14px;
  border: 0;
}
/*--  Response  -- */
@media only screen and (max-width:667px) {
  td.fontSmall {
    font-size: 28px !important;
  }
  td.agilebnr-hgt {
    height: 60px !important;
  }
  td.agilebnr-hgt1 {
    height: 50px;
  }
  .w3logo {
    font-size: 2.5em !important;
  }
  .scale-center.w3slid-text {
    font-size: 27px !important;
    line-height: 30px;
  }
  .textCenter {
    text-align: center !important;
  }
  .copy-right {
    text-align-last: center;
  }

    /* Tables
    parameters: width, alignment, padding */

    table[class=scale] { width: 100%!important; }
    table[class=scale90] { width: 90%!important; }
    table[class=scale85] { width: 85%!important; }
    table[class=scale80] { width: 80%!important; }
    table[class=scale75] { width: 55%!important; }
    table[class=scale-reset] { width: 100%!important; height: auto!important; }
      /* Td */
      td[class=scale-left] { width: 100%!important; text-align: left!important;}
      td[class=scale-left-bottom] { width: 100%!important; text-align: left!important; padding-bottom: 25px!important; }
      td[class=scale-left-top] { width: 100%!important; text-align: left!important; padding-top: 25px!important; }
      td[class=scale-left-all] { width: 100%!important; text-align: left!important; padding-top: 25px!important; padding-bottom: 25px!important; }
      td[class=scale-center] { width: 100%!important; text-align: center!important;}
      td[class=scale-center-both] { width: 100%!important; text-align: center!important; padding-left: 20px!important; padding-right: 20px!important; }
      td[class=scale-center-both-top] { width: 100%!important; text-align: center!important; padding-left: 20px!important; padding-right: 20px!important; padding-top: 25px!important; }
      td[class=scale-center-bottom] { width: 100%!important; text-align: center!important; padding-bottom: 25px!important; }
      td[class=scale-center-top] { width: 100%!important; text-align: center!important; padding-top: 25px!important; }
      td[class=scale-center-all] { width: 100%!important; text-align: center!important; padding-top: 25px!important; padding-bottom: 25px!important; padding-left: 20px!important; padding-right: 20px!important; }
      td[class=scale-center-extraall] { width: 100%!important; text-align: center!important; padding-top: 54px!important; padding-bottom: 25px!important; }
      td[class=scale-right] { width: 100%!important; text-align: right!important;}
      td[class=scale-right-bottom] { width: 100%!important; text-align: right!important; padding-bottom: 25px!important; }
      td[class=scale-right-top] { width: 100%!important; text-align: right!important; padding-top: 25px!important; }
      td[class=scale-right-all] { width: 100%!important; text-align: right!important; padding-top: 25px!important; padding-bottom: 25px!important; }
      td[class=scale-center-extratop] { width: 100%!important; text-align: center!important; padding-top: 60px!important; }
      td[class=reset] { height: 0px!important; }
      p[class=reset] { margin-left: 0px!important; margin-right: 0px!important; }
      p[class=reset-top] { margin-top: 0px!important; }
      img[class="reset"] { display: inline!important; }
}
@media only screen and (max-width:600px){
  .full.top-nav {
    width: 95%;
  }
  .full {
    width: 100%;
  }
  td.abt-pad {
    height: 40px;
  }
}
@media only screen and (max-width:568px){
  .fullcenter-left {
    width: inherit;
  }
  .fullCenter {
    width: 55%;
  }
  .title {
    font-size: 2.8em !important;
  }
}
@media only screen and (max-width:480px){
  .nav-pad {
    height: 10px;
  }
  .scale-center.w3slid-text {
    font-size: 24px !important;
  }
}
@media only screen and (max-width:414px){
  .fullcenter-left {
    width: 100%;
    text-align: center;
  }
  .fullCenter td {
    text-align: center;
  }
  .fullCenter {
    width: 95%;
    margin: 0 auto;
    float: none;
  }
  td.fontSmall {
    font-size: 25px !important;
    line-height: 37px;
  }
  td.agilebnr-hgt {
    height: 46px !important;
  }
  td.agilebnr-hgt1 {
    height: 40px;
  }
  .copy-right {
    text-align-last: center;
    padding: 0 2em;
  }
  a.wthree-more {
    padding: 10px 18px !important;
  }
  .scale-center.w3slid-text {
    font-size: 21px !important;
  }
  .scale-center.w3p-text{
    font-size: 14px !important;
    text-align: center !important;
  }
}
@media only screen and (max-width:320px){
  .w3logo {
    font-size: 2.3em !important;
  }
  .fullCenter td {
    height: 40px;
  }
  td.fontSmall {
    font-size: 23px !important;
  }
  td.abt-pad {
    height: 30px;
  }
  .title {
    font-size: 2.3em !important;
  }
  .scale-center.w3slid-text {
    font-size: 19px !important;
  }
}
